<li class="nav-item">
        <a class="nav-link" href="/template-3">CSS|template-3</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/template-4">CSS|template-4</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/template-5">CSS|template-5</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/template-6">CSS|template-6</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/template-7">CSS|template-7</a>
    </li>
</ul>